@{
    ViewData["Title"] = "Login";
}
@model LogInDTO

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Giriş Yap</h3>
            </div>
            <form asp-action="LogIn">
                <div class="card-body">
                    <div>
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı Giriniz..." />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Şifre Giriniz..." />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center" style="height:50px;">
                        <a asp-action="Login" class="text-secondary">Hesabın Yokmu? Kayıt Ol</a>
                        <button type="submit" class="btn btn-outline-success">Giriş</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>